@font-face {
  font-family: 'mikachan';
  src: url('./mikachanALL.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 4vh;
  line-height: 1.5em;
}

@media print {

  #bg {
    padding: 0 !important;
  }

  #board {
    margin: 0;
    height: 100vh !important;
    aspect-ratio: 297 / 210 !important;
  }
}

#bg {
  height: 100vh;
  padding: 0;
  text-align: center;
  background: repeating-linear-gradient(135deg, #e1e1e1, #e1e1e1 10px, #fff 10px, #fff 20px);
}

#board {
  margin: auto;
  aspect-ratio: 297 / 210;
  height: 100vh;
  background: linear-gradient(to top, #19a1c7, #0000a1);
  /* background: linear-gradient(143deg,  #77DD77 ,#19a1c7,#FF8899 85% ); */
  font-family: 'mikachan';
}


#t1 {
  margin: 0;
  padding-top: 5vh;
  font-family: 'mikachan';
  color: azure;
}

#t2 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: azure;
}

#guest {
  line-height: 1.5em;
  font-family: 'mikachan';
  margin: auto;
  width: 60%;
  margin-bottom: 1em;
}

.anon {
  color: #FF8899;
  margin-right: 1em;
  margin-left: -1em;
}

.rana {
  color: #77DD77;
}

span.sama {
  font-size: smaller;
}

div#p {
  line-height: 1.5em;
}

span.name-tag {
  color: azure;
  font-family: 'mikachan';
  white-space: nowrap;
  font-size: larger;
}

#special {
  font-family: 'mikachan';
  position: relative;
  bottom: -5vh;
  left: 0%;
  display: inline-block;
  height: 10vh;
  line-height: 1em;
  color: azure;
}

#host {
  position: relative;
  display: inline;
  top: 0.5em;
  margin-right: 1em;
}

#illu {
  position: relative;
  display: inline-block;
  font-size: smaller;
}

#illu-zh {
  position: absolute;
  top: 100%;
  left: 0;
  width: 4.5em;
  white-space: nowrap;
  font-size: smaller;
  text-align-last: justify;
}

#illu-name {
  position: relative;
  top: 0.5em;
}

span.name-tag#host-name {
  font-size: larger
}

span.name-tag#illu-name {
  font-size: larger;
}